<!DOCTYPE HTML>
<!--
-->
<html>
	
	{{ partialCached "head" . }}

	<body class="is-preload">

		<!-- Wrapper -->
		<div id="wrapper" class="divided">
            {{- block "main" . }}{{- end }}
		<!-- Wrapper -->
		</div>
		
		#{{ template "_internal/google_analytics.html" . }}
		{{ partial "google_analytics.html" . }}
		{{ partialCached "scripts" . }}
		{{ partialCached "footer" . }}

		{{ $js := resources.Get "js/toggle-captions.js" | js.Build }}
<script src="{{ $js.RelPermalink }}" defer></script>

<!-- pinterest widget --> 
<script
    type="text/javascript"
    async defer
    src="//assets.pinterest.com/js/pinit.js"
></script>

	</body>
</html>