<!-- Banner * its uses buttons not button-->
<section class="banner {{ .style }}">
    <div class="content">
        {{ with .title }}<h1>{{ . | markdownify | emojify  }}</h1>{{ end }}
        {{ with .subtitle }}<p class="major">{{ . | markdownify | emojify }}</p>{{ end }}
        {{ with .content }}<div>{{ . | markdownify | emojify }}</div>{{ end }}
        <br>
        {{ with .buttons }}
            <ul class="actions">
                {{ range . }}
                    <li><a href="{{ .link }}" class="button primary">{{ .label }}</a></li>
                {{ end }}
            </ul>
        {{ end }}
    </div>
    {{ with .image }}
        <div class="image">
            <img src="{{ . }}" alt="" />
        </div>
    {{ end }}
</section>
  