{{/* layouts/partials/blog-taxonomies-buttons.html */}}
<section class="wrapper style1 align-center">
  <div class="inner">
    <h2>Explore</h2>
    <p>Check out all posts</p>
    <a href="{{ site.BaseURL }}/archive/" class="button">Archive</a>

    <hr>

  {{/* Initialize group index for alternating taxonomy group button styles */}}
  {{ $groupIndex := 0 }}
  {{ range $taxonomyName, $taxonomyTerms := .Site.Taxonomies }}
    {{ if gt (len $taxonomyTerms) 0 }}
      <div class="taxonomy-group" style="display: flex; margin-bottom: 2rem;">
        <!-- Left: Taxonomy Group Header -->
        <div class="taxonomy-header" style="flex: 0 0 200px; text-align: left;">
          <header>
            <h3>{{ title $taxonomyName }}</h3>
          </header>
        </div>
        <!-- Right: Terms Buttons -->
        <div class="taxonomy-content" style="flex: 1;">
          <ul class="actions">
            {{ $btnClass := cond (eq (mod $groupIndex 2) 0) "primary" "" }}
            {{ range $term, $pages := $taxonomyTerms }}
              <li>
                {{ with site.GetPage (printf "%s/%s" $taxonomyName $term) }}
                  <a href="{{ .Permalink }}" class="button {{ $btnClass }}">
                    {{ title $term }} ({{ len $pages }})
                  </a>
                {{ else }}
                  <a href="#" class="button {{ $btnClass }}">
                    {{ title $term }} ({{ len $pages }})
                  </a>
                {{ end }}
              </li>
            {{ end }}
          </ul>
        </div>
      </div>
      {{ $groupIndex = add $groupIndex 1 }}
    {{ end }}
  {{ end }}
</div>
</section>