{{/* layouts/partials/item.html */}}
<section class="item">
  {{ if .url }}
    {{ with .image }}
      <div class="item-media">
        <a href="{{ $.url }}" target="_blank" rel="noopener noreferrer">
          <img src="{{ . }}" loading="lazy" alt="{{ $.name | default "item" }}" decoding="async" />
        </a>
      </div>
    {{ else }}
      <div class="item-media">
        <a href="{{ $.url }}" target="_blank" rel="noopener noreferrer">
          <span class="{{ $.style }}"></span>
        </a>
      </div>
    {{ end }}
  {{ else }}
    {{ with .image }}
      <div class="item-media">
        <img src="{{ . }}" loading="lazy" alt="{{ $.name | default "item" }}" decoding="async" />
      </div>
    {{ else }}
      <div class="item-media">
        <span class="{{ .style }}"></span>
      </div>
    {{ end }}
  {{ end }}
  
  {{ if .url }}
    <h3><a href="{{ .url }}" target="_blank" rel="noopener noreferrer">{{ .name | markdownify }}</a></h3>
  {{ else }}
    <h3>{{ .name | markdownify }}</h3>
  {{ end }}
  
  <p>{{ .content | markdownify }}</p>
</section>