{{/* layouts/shortcodes/gallery.html */}}

{{ $id     := .Get "id" | default "" }}
{{ $title  := .Get "title" | default "" }}
{{ $style  := .Get "style" | default "" }}
{{ $srcKey := .Get "src" | default "pictures" }}

{{ $pics := index .Page.Params $srcKey }}

<section class="wrapper style1 align-center" {{ if $id }}id="{{ $id }}"{{ end }}>
  <div class="inner">
    {{ if $title }}<h2>{{ $title | markdownify }}</h2>{{ end }}
    {{ .Inner | markdownify }}
  </div>

  <div class="gallery {{ $style }}">
    {{ range $pics }}
      {{ partial "picture.html" . }}
    {{ end }}
  </div>
</section>
